<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131815652992-053aucg2cc122occln64jc6nmadsm577.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131815652992-053aucg2cc122occln64jc6nmadsm577</string>
	<key>API_KEY</key>
	<string>AIzaSyD20EzomloNPAz9bw5EblfaSYkRh_yDczM</string>
	<key>GCM_SENDER_ID</key>
	<string>131815652992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alifahed.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-flutter-project-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-flutter-project-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131815652992:ios:5f0a270cff45c80f307065</string>
</dict>
</plist>